.gradient {
    /* fallback for old browsers */
    background: #2ec27e;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(46, 194, 126, 0.5), rgba(87, 227, 137, 0.5));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(46, 194, 126, 0.5), rgba(87, 227, 137, 0.5))
}

.color-musgo {
    background: #517300;
    width: 100%;
}

.btn {
    background-color: #517300; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
  }


.grid-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 50% 50%;
    height: 16vh;
    grid-template-areas:
        "img div"
        "img div";
}

a{
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
}

.list-i{
    background: #F3F3F3;
    font-family: 'Inter';
}

.list-i h2{
    font-weight: bold;
    font-size: 50px;
}

.imagem{
    align-self: center;
    width: 20vw;
}

.imagem img{
    width: 20vw;
    height: 20vw;
    align-self: center;
    background-size: cover;
    border-radius: 50%;
    background-size: cover; /* ou "contain" dependendo do comportamento desejado */
    background-position: center;
}

.info-i{
    justify-content: center;
    text-align: center;
    align-content: center;
    text-align: center;
    font-size: 4.5vw;
    display: flex;
    color: black;
}

.info-i h2{
    font-size: 5vw;
}

.info-i p{
    margin: 0;
}

.info-i img{
    width: 5vw;
    align-self: center;

}