a{
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
}

.list-i{
    background: #F3F3F3;
    font-family: 'Inter';
}

.list-i h2{
    font-weight: bold;
    font-size: 50px;
}

.imagem{
    align-self: center;
    width: 20vw;
}

.imagem img{
    width: 20vw;
    height: 20vw;
    align-self: center;
    background-size: cover;
    border-radius: 50%;
    background-size: cover; /* ou "contain" dependendo do comportamento desejado */
    background-position: center;
}

.info-i{
    justify-content: center;
    text-align: center;
    align-content: center;
    text-align: center;
    font-size: 4.5vw;
    display: flex;
    color: black;
}

.info-i h2{
    font-size: 5vw;
}

.info-i p{
    margin: 0;
}

.info-i img{
    width: 5vw;
    align-self: center;

}